.profile-container{
    background-color: #0e0b25;
    display: flex;
    padding: 70px;
}
.profile-sidebar{
    background-color: black;
    padding: 40px;
    border-radius: 10px;
}
.main-bar{
    padding-left: 90px;
}
.profile-list-container{
    list-style: none;
}
.profile-list-container>li{
    margin: 20px;
}
.profile-list-container>li>a{
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
}